<div class="dice-calculator">
  <section class="dice-calculator__input">
    <label for="dice-calculator">/roll</label>
    <div class="dice-calculator__input-wrapper">
      <textarea class="dice-calculator__text-input" type="text" name="dice-calculator"></textarea>
      {{#if rolls}}
        <div class="dice-calculator__rolls--hidden">
          {{#each rolls as |roll key|}}
            <div class="dice-calculator__roll">{{roll}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </section>
  <section class="flexrow">
    <section class="flexrow" style="flex: 3; gap: 4px;">
      <button class="dice-calculator--button dice-calculator--dark" data-formula="{{highest}}">{{highest}}</button>
      <button class="dice-calculator--button dice-calculator--dark" data-formula="d">dx</button>
      <button class="dice-calculator--button dice-calculator--op" data-formula="DELETE">{{localize "DICE_TRAY.del"}}</button>
      {{#each dice}}
      <button class="dice-calculator--button dice-calculator--dark" data-formula="{{this}}">{{this}}</button>
      {{/each}}
      {{#diceTrayTimes 10}}
      <button class="dice-calculator--button dice-calculator--light" data-formula="{{@index}}">{{@index}}</button>
      {{/diceTrayTimes}}
      <button class="dice-calculator--button dice-calculator--dark" data-formula="(">(</button>
      <button class="dice-calculator--button dice-calculator--dark" data-formula=")">)</button>
    </section>
    {{> "modules/dice-calculator/templates/OperationRow.hbs" }}
  </section>
</div>