<section class="operation-row flexcol" style="gap: 4px;">
    <button class="dice-calculator--button dice-calculator--op dice-calculator__ac" data-formula="CLEAR">{{localize "DICE_TRAY.clear"}}</button>
    <button class="dice-calculator--button dice-calculator--math" data-formula="/">&divide;</button>
    <button class="dice-calculator--button dice-calculator--math" data-formula="*">&times;</button>
    <button class="dice-calculator--button dice-calculator--math" data-formula="-">-</button>
    <button class="dice-calculator--button dice-calculator--math" data-formula="+">+</button>
    <button class="dice-calculator--button dice-calculator--confirm" data-formula="kh">kh</button>
    <button class="dice-calculator--button dice-calculator--confirm" data-formula="kl">kl</button>
</section>