<section class="dice-tray">
    {{#each dicerows as |dice|}}
    <div class="dice-tray__buttons flexrow">
		{{#each dice as |data key|}}
		<button class="dice-tray__button"
			data-formula="{{key}}"
			data-tooltip="{{#if data.tooltip}}{{data.tooltip}}{{else}}{{key}}{{/if}}"
			data-tooltip-direction="UP">
			<span class="dice-tray__flag dice-tray__flag--{{key}} hide"></span>
			{{#if data.img}}
			<div class="dice" style="
				mask: url({{data.img}}) center 2px/contain no-repeat;
				-webkit-mask: url({{data.img}}) center 2px/contain no-repeat;
				{{#if data.color}}background-color: {{data.color}};{{/if}}
			"></div>
			{{else}}
			<span style="{{#if data.color}}color: {{data.color}};{{/if}}">
				{{data.label}}
			</span>
			{{/if}}
		</button>
		{{/each}}
    </div>
    {{/each}}
    <div class="dice-tray__math flexrow">
		<button class="dice-tray__math dice-tray__math--sub" data-formula="-1">-</button>
		<input class="dice-tray__input" name="dice.tray.modifier" type="text" value="0"/>
		<button class="dice-tray__math dice-tray__math--add" data-formula="+1">+</button>
		<div id="dice-tray-math" hidden></div>
		<button class="dice-tray__roll">{{localize "TABLE.Roll"}}</button>
    </div>
</section>
