@import "popout";
@import "grimwild";

$white: #fff;
$orange: #ff6400;
$green: #0a9843;

#ui-right,
#sidebar-content {
	.dice-tray {
		pointer-events: all;
	}
}

#chat-popout,
#sidebar-content {
	.dice-tray {
		margin-top: -6px;
	}
}

.dice-tray {
	.dice-tray__stacked {
		height: 30px;
		button {
			min-height: initial;
		}
	}
	.dice-tray__buttons, .dice-tray__math, .dice-tray__input {
		height: 30px;
	}
	.dice-tray__math__buttons {
		margin-top: 2px;
	}
	.flexrow {
		flex-wrap: nowrap;
	}
	button {
		background: var(--color-cool-5-75);
		border: 1px solid #000;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: var(--color-light-2);
		font-weight: bold;
		font-size: var(--font-size-18);
		box-shadow: 0 0 6px inset #8d9ea7;
		transition: all ease-in-out 0.25s;
		position: relative;
		padding: 0;
		height: inherit;
		min-height: 1rem;
		&:focus {
			outline: none;
		}
		&:hover {
			background: var(--color-cool-5);
			color: $orange;
			border-color: $orange;
			box-shadow: 0 0 6px inset var(--color-warm-2);
			div.dice {
				background-color: var(--color-light-1);
			}
		}
		svg {
			width: 100%;
			height: auto;
			transition: all ease-in-out 0.25s;
			* {
				fill: #fff;
			}
		}
		img {
			border: none;
		}
		div.dice {
			height: 100%;
			aspect-ratio: 1/1;
			background-color: var(--color-light-2);
		}
		.dice-tray__flag {
			position: absolute;
			bottom: calc(100% - 2px);
			left: 0;
			right: 0;
			font-size: 14px;
			height: 18px;
			line-height: 1;
			background-color: $orange;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px 4px 0 0;
			max-height: 18px;
			transition: all ease-in-out 0.15s;
			&:hover {
				background-color: $orange;
				color: $white;
			}
			&:focus {
				background-color: $orange;
				color: $white;
			}
			&.hide {
				max-height: 0;
			}
		}
		&.dice-tray__roll {
			&:hover {
				background: #ff6400;
				box-shadow: none;
				color: $white;
			}
		}
		&.dice-tray__math--sub {
			&:hover {
				background: #ff6400;
				box-shadow: 0 0 6px inset #ff6400;
				color: $white;
			}
		}
		&.dice-tray__math--add {
			&:hover {
				background: #0a9843;
				box-shadow: 0 0 6px inset #0a9843;
				border-color: $green;
				color: $white;
			}
		}
		&.dice-tray__ad {
			font-size: 10px;
			flex: 1;
			line-height: 1;
			text-transform: uppercase;
		}
		&.dice-tray__advantage {
			&:hover {
				color: $green;
				border-color: $green;
				box-shadow: 0 0 6px inset #0a9843;
			}
			&.active {
				background: #0a9843;
				box-shadow: 0 0 6px inset #0a9843;
				border-color: $green;
				color: $white;
				&:hover {
					box-shadow: 0 0 6px inset #fff;
					border-color: $white;
				}
			}
		}
		&.dice-tray__disadvantage {
			&:hover {
				color: $orange;
				border-color: $orange;
				box-shadow: 0 0 6px inset #ff6400;
			}
			&.active {
				background: #ff6400;
				box-shadow: 0 0 6px inset #ff6400;
				color: $white;
				&:hover {
					box-shadow: 0 0 6px inset #fff;
					border-color: $white;
				}
			}
		}
	}
	input[type="text"] {
		display: block;
		color: $white;
		font-weight: bold;
		font-size: var(--font-size-18);
		text-align: center;
		background-color: rgba(250, 250, 250, 0.15);
		border: 1px solid #000;
		box-shadow: 0 0 6px inset #fff;
		padding: 0;
		&:hover {
			border: 1px solid #ff6400;
			box-shadow: 0 0 6px inset #ff6400;
		}
		&:focus {
			border: 1px solid #ff6400;
			box-shadow: 0 0 6px inset #ff6400;
		}
	}
}
.dice-tray-row-settings {
	min-width: 320px;
	.sidebar-preview {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		width: var(--sidebar-width);
		margin: auto;
		section {
			background-color: #000;
		}
	}
	th {
		font-size: var(--font-size-16);
		padding: 0;
		text-align: center;
	}
	td {
		font-size: var(--font-size-16);
		padding: 0;
		text-align: center;
	}
	.color {
		div {
			background-color: $white;
			margin: auto;
			height: var(--line-height-30);
			width: var(--line-height-30);
		}
	}
	img {
		height: var(--line-height-30);
		border: none;
	}
	.controls {
		a {
			padding: 8px;
		}
	}
}

#interface {
	&.theme-light {
		.dice-tray {
			button {
				color: var(--color-dark-2);
				background: rgba(255, 255, 255, 0.6);
				&:hover {
					background: rgba(255, 255, 255, 0.85);
				}
				div.dice {
					background-color: var(--color-dark-2);
				}
			}
		}
	}
}
