$white: #fff;
$orange: var(--color-warm-2);
$green: #0a9843;

@mixin dice-tray-theme {
	.dice-tray {
		button {
			color: var(--color-dark-2);
			background: rgba(255, 255, 255, 0.6);
			&:hover {
				background: rgba(255, 255, 255, 0.85);
			}
			div.dice {
				background-color: var(--color-dark-2);
			}
		}
		input[type="text"] {
			color: var(--color-dark-2);
			background: rgba(255, 255, 255, 0.6);
			&:hover {
				background: rgba(255, 255, 255, 0.85);
			}
		}
	}
}

@mixin hover-style($color, $border: false) {
	background: $color;
	color: $white;
	@if $border {
		border-color: $color;
	}
}

@mixin active-style($color) {
	background: $color;
	color: $white;
	outline: 1px solid $color;
	border-color: $color;

	&:hover {
		border-color: $white;
	}
}

%dice-tray-style {
	background: var(--color-cool-5-75);
	border: 1px solid #000;
	color: var(--color-light-2);
	font-weight: bold;
	font-size: var(--font-size-18);
	transition: all 0.25s ease-in-out;
	padding: 0;
	&:hover {
		background: var(--color-cool-5);
		border-color: $orange;
	}
}
